/*
=============== 
cards
===============
*/

.cards{
    margin-top: 4rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .card-items{
    display: flex;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
  }
  
  .card img{
    border-radius: 9px;
    height: 300px;
  }
  
  .card h6{
    background-color: white;
    position: absolute;
    top: 10px;
    font-weight: 300;
    padding: 2px;
    left: 10px;
    border-radius: 3px;
  }
  
  .card-details{
    font-weight: 300;
  }
  
  .star{
    width: 14px;
    margin-right: 3px;
  }
  
  .card-details h4{
    font-weight: 300;
  }
  
  .country{
    color: #918E9B;
  }
  
  .price{
    font-weight: 600;
  }